In [1]:
#Conditional Statements
if 5 == 15/3 :
    print("hooray")

hooray

In [2]:
if 5 != 6*3 :
    print("Hooray")

Hooray

In [4]:
x = 3
if x < 3 :
    print("case1")
if x >= 3 :
    print("case2")
else:
    print("case3")

case2

In [21]:
#Section 26 "Conditional Statements"
#Elif Statements

def compare(y):
    if y > 5:
       return "greater"
    elif y < 0 :
        return "Negative"
    elif y < 5 :
        return "Less"
    else:
        return "Equal"

In [22]:
print(compare(-4))

Negative

In [2]:
#Section 28 "Functions"
#Functions

def simple():
    print ("first function")

#Calling Function
simple()

first function

In [4]:
#Function With Parameter

def plus_ten(a):
    return a + 10  

plus_ten(5)

15

In [5]:
#Function

def ten_plus(b):
    result = b + 10
    return result

In [6]:
ten_plus(3)

13

In [9]:
# Function within A function
def wage(w_hours):      
    return w_hours * 25    
def with_bonus(w_hours):
    return wage(w_hours) + 50 #First we define the function and take the updated value of first function to return in 2nd one

In [10]:
wage(8),with_bonus(8)

(200, 250)

In [18]:
# Condtional Statements and Functions

def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save More"

In [19]:
add_10(110)

120

In [20]:
add_10(99)

'Save More'

In [8]:
# Methods #It is used to add or call an existing method using the syntax .append()
# If we want to add another participant in our old example

participants = ["James" , "George" , "Ali"]
participants.append("Ahmed")

In [9]:
participants

['James', 'George', 'Ali', 'Ahmed']

In [11]:
# Another method to add but it would add another list to the existing one
participants.extend(["Jamal" , "Sara"])
participants

['James', 'George', 'Ali', 'Ahmed', 'Jamal', 'Sara']

In [23]:
# List Slicing # Helps to divide or breaks a set of list or data in small parts
Participants = ['James', 'George', 'Ali', 'Ahmed', 'Jamal', 'Sara']
#Participants[:2] 
#Participants[2:4] 
Participants[-2:]

['Jamal', 'Sara']

In [25]:
#if you dont know the location of desired value/string . You can use .index to know the index of that value/string
Participants.index('Ali')

2

In [28]:
#Combining list into another one
new_commers = ["Josh" , "Maria"]

Bigger_list = [Participants , new_commers]
Bigger_list

[['James', 'George', 'Ali', 'Ahmed', 'Jamal', 'Sara'], ['Josh', 'Maria']]

In [35]:
#To sort the list into order we use .sort

Participants.sort()
Participants

#To sort in reverse order
# Participants.sort(reverse=True)
# Participants

['Ahmed', 'Ali', 'George', 'Jamal', 'James', 'Sara']

In [39]:
# create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford". 

Cars = 'BMW' , 'Dodge' , 'Ford'
Cars

Access the second element of this tuple.

Cars[2]

# Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.

name, age = 'Peter,24'.split(",")  #Split character is used to split the two variable values

print(name)
print(age)

# Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
# Call the function with arguments 2 and 10 to verify it worked correctly.

def area(x,y):
    A = x ** y
    P = 2 * (x + y)
    return A,P

area(2,10)

In [ ]:
# Working with dictionaries . These are another way of storing data.We have to assign a unique key to each value